<!doctype html>
<html>
   <body>

      <h2 style = "text-align: center;">Login Form</h2>



      <form action = "http://localhost:5000/" method = post>
         <fieldset>
            <legend>Login Form</legend>

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>

                <div>
                    {{ form.study_book.label }}      {{ form.study_book }}
                    <br>

                      {% for message in form.study_book.errors %}
                         <div>{{ message }}</div>
                      {% endfor %}
                    <br>
                </div>

                <div>
                    {{ form.study_year.label }}         {{ form.study_year }}
                    <br>

                        {% for message in form.study_year.errors %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    <br>
                </div>


                <div>
                   {{ form.password.label }}     {{ form.password }}
                   <br>
                          {% for message in form.password.errors %}
                             <div>{{ message }}</div>
                          {% endfor %}
                    <br>
                </div>

               {{ form.submit }}
            </div>

         </fieldset>
      </form>

   </body>
</html>